/****** Object:  Database [SuperShopDb]    Script Date: 10/6/2019 10:09:38 AM ******/
USE [master];

GO

IF DB_ID('SuperShopDb') IS NOT NULL

DROP DATABASE SuperShopDb;

GO

CREATE DATABASE SuperShopDb 

ON 
(
NAME		= SuperShop_data,
FILENAME	= N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SuperShop_data.mdf',
SIZE		= 10 MB,
MAXSIZE		= 50 MB, 
FILEGROWTH	= 5  MB 
)

LOG ON 
(
NAME		= SuperShop_log,
FILENAME	= N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SuperShopDb_log.ldf',
SIZE		= 5  MB,
MAXSIZE		= 25 MB, 
FILEGROWTH	= 10 MB
);

GO

USE SuperShopDb;

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperShopDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperShopDb]
GO
USE [SuperShopDb]
GO

/****** Object:  Table [dbo].[SuperShop]    Script Date: 10/6/2019 10:09:38 AM ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE SuperShop (
	SuperShopId			int				NOT NULL,
	SuperShopName		nvarchar(50)	NOT NULL,
	SuperShopSize		nvarchar(50)	NOT NULL,
	SuperShopLocation	nvarchar(50)	NOT NULL,
	SuperShopContact	nvarchar(50)	NOT NULL
) ON [PRIMARY]

GO

USE [master]
GO